@model ABankAdmin.Models.UtilitiesDetail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit","UtilitiesDetail",FormMethod.Post,new { autocomplete="off"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>UtilitiesDetail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("UTILITY", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UTILITIES_ID",
                (IEnumerable<SelectListItem>)ViewBag.utility,
                "Select Utility", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UTILITIES_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DENO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DENO, new { htmlAttributes = new { @class = "form-control Money" } })
                @Html.ValidationMessageFor(model => model.DENO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CURRENCY, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CURRENCY, ViewBag.Currency as List<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CURRENCY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Cancel", "Index", null, null, new { @*href = Request.UrlReferrer,*@ @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

