@model ABankAdmin.Models.ReqChange

@{
    ViewBag.Title = "ChangesDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Changes Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Request Change</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User Name
        </dt>

        <dd>
            @{
                string name = ViewBag.Name;
            }
            @name
        </dd>

        <dt style="margin-top:15px;">
            @Html.DisplayNameFor(model => model.TYPE)
        </dt>

        <dd style="margin-top:15px;">
            @{
                string TYPE = ViewBag.Type;
            }
            @TYPE
        </dd>

        <dt style="margin-top:15px;">
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd style="margin-top:15px;">
            @{
                string status = ViewBag.StatusName;
            }
            @status
        </dd>

        <dt style="margin-top:15px;">
            @Html.DisplayNameFor(model => model.MAKER)
        </dt>

        <dd style="margin-top:15px;">
            @Html.DisplayFor(model => model.VrReqMaker.UserName)
        </dd>

        <dt style="margin-top:15px;">
            @Html.DisplayNameFor(model => model.REQUESTEDDATE)
        </dt>

        <dd style="margin-top:15px;">
            @Html.DisplayFor(model => model.REQUESTEDDATE)
        </dd>

        <dt style="margin-top:15px;">
            Branch Name
        </dt>

        <dd style="margin-top:15px;">
            @{
                string bname = ViewBag.BranchName;
            }
            @bname
        </dd>

        <dt style="margin-top:15px;">
            @Html.DisplayNameFor(model => model.CHECKER)
        </dt>

        <dd style="margin-top:15px;">
            @Html.DisplayFor(model => model.VrReqChecker.UserName)
        </dd>

        <dt style="margin-top:15px;">
            @Html.DisplayNameFor(model => model.CHECKEDDATE)
        </dt>

        <dd style="margin-top:15px;">
            @Html.DisplayFor(model => model.CHECKEDDATE)
        </dd>
        @*<dt style="margin-top:15px;">
            @Html.DisplayNameFor(model => model.REQUESTINFO)
        </dt>

        <dd style="margin-top:15px;">
            @Html.DisplayFor(model => model.REQUESTINFO)
        </dd>*@
        <dt style="margin-top:15px;">
            @Html.DisplayNameFor(model => model.CHECKERREASON)
        </dt>

        <dd style="margin-top:15px;">
            @Html.DisplayFor(model => model.CHECKERREASON)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" />
    @Html.ActionLink("Cancel", "Changes", null, null, new {  @class = "btn btn-default" })
    @*@Html.ActionLink("Back to List", "Changes")*@
</div>
    }
</div>
